header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
}