 .body {
   background-color: #262626;
 }

 .cuadricula {
   display: grid;
 }

 .fila {
   display: flex;
 }

 .padding-general {
   padding: 10px 30px;
 }

 .centrar-contenido {
   justify-content: center;
   align-items: center;
 }

 .tres-columnas {
   grid-template-columns: repeat(3, 1fr);
 }

 .start {
   justify-content: flex-start;
   align-items: center;
   margin-left: 70px;
 }

 .centro {
   justify-content: center;
 }

 .derecha {
   justify-content: flex-end;

 }

 .botones {
   background-color: transparent;
   border: none;
   color: white;
   font-size: 16px;
   cursor: pointer;

 }

 .estiloCategoriasMobile {
   grid-column: 1 / -1;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
 }

 .botonCategoriaMobile {
   background-color: transparent;
   border: none;
   color: white;
   font-size: 16px;
   cursor: pointer;
 }


 .videos iframe {
   justify-content: center;
   gap: 5px;
   padding: 20px;
   width: 500px;
   height: 300px;   
 }

 .Shorts {
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
   justify-content: center;
   padding: 20px;
 }

 .Shorts iframe {
   width: 500px;
   height: 800px;
   border-radius: 9px;
 }

 .botonBuscar {
   background-color: transparent;
   border: none;
   color: white;
   font-size: 16px;
   cursor: pointer;
 }

 .botonPrincipal>button {
   background-color: transparent;
   border: none;
   color: white;
   font-size: 16px;
   cursor: pointer;

 }

 .estiloTexto {
   color: white;
   text-align: center;
   margin-top: 10px;

 }

 .columna {
   display: flex;
   flex-direction: column;
   position: fixed;
   width: 200px;
   margin-left: -56px;
   height: fit-content;
 }

 .menuIzquierda {
   margin-top: -55px;
 }

 .InputBusqueda {
   border: none;
   background-color: rgb(73, 72, 72);
   font-size: 16px;
   border-radius: 5px;
 }

 @media only screen and (max-width: 768px) {
   .botonPrincipal {
     display: none;
   }

   .menuIzquierda {
     display: none;

   }

   .start {
     justify-content: flex-start;
     align-items: center;
   }

   .derecha {
     justify-content: flex-end;

   }

   .centro {
     justify-content: center;
   }

   .icono.mobile {
     display: block;
   }

   .espacio_centro {
     padding: 5px;
   }

   .espacio_iconos {
     gap: 5px;
   }

   .espacio_logo {
     margin-left: -25px;
   }

   .botones {
     background-color: transparent;
     border: none;
     color: white;
     font-size: 16px;
     cursor: pointer;

   }

   .botonBuscar {
     background-color: transparent;
     border: none;
     color: white;
     font-size: 16px;
     cursor: pointer;
   }

   .InputBusqueda {

     border: 4px;
     color: rgb(73, 72, 72);
     font-size: 16px;

   }

   nav>.estiloCategoriasMobile {
     display: flex;
     justify-content: center;
     gap: 5px
   }

   .botonCategoriaMobile {
     background-color: transparent;
     border: none;
     color: white;
     font-size: 16px;
     cursor: pointer;
   }

   .Shorts {
     flex-direction: column;
     align-items: center;
     padding: 10px;
   }

   .Shorts iframe {
     width: 90vw;
     height: 160vw;
     max-width: 350px;
     max-height: 620px;
   }

   .videos {
     flex-direction: column;
     align-items: center;
     padding: 10px;
   }
 }