nav #contendor {

  display: none;
}

nav #menu_movil {
  display: flex;
  gap: 20px;
  justify-content: center;
}
 
 

.categorias {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;

}

.buscador {

  background-color: #111;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  margin-left: 30px;
}

.microfono {
  background-color: #E5E5E5;
  border: none;
  cursor: pointer;

}

.end {
  position: absolute;
  right: 10px;
  top: 10px;

}

.microfono {
  background-color: #E5E5E5;
  border: none;
  cursor: pointer;

}

.contenedor-categorias {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.btnCategorias {
  position: relative;
  align-items: center;
  border: none;
  border-radius: 8px;
  display: inline-flex;
  height: 32px;
  min-width: 12px;
  padding: 0px 16px;
}

.btn1 {
  background-color: #E5E5E5;
  border: none;
  cursor: pointer;
}

.btn2 {
  background-color: #E5E5E5;
  border: none;
  cursor: pointer;
}

.btn3 {
  background-color: #E5E5E5;
  border: none;
  cursor: pointer;
}

.categorias {
  display: flex;
  justify-content: center;
  gap: 20px;

}

.videos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.videosDos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.Shorts {
  width: 360px;
  height: 500px;
  background-color: #111;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  margin-left: 30px;
}


.body {
  background-color: #262626;
}

.izquierda {
  justify-content: flex-start;
}

.centrar-contenido {
  justify-items: center;
  align-items: center;
}

.contenido-derecha {
  justify-content: flex-end;
  align-items: center;
}

.contenido-izquierda {
  justify-content: flex-start;
  align-items: center;
}
 

@media only screen and (min-width: 768px) {


  nav #menu_movil {
    display: none;

  }
  nav .izquierda_movil {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .izquierda {
    display: flex;
    justify-content: flex-start;
    
  }

  .centro {
   
    justify-content: center;
  }
  .buscador > input {
    margin: 0;
  }

  .derecha {
    display: none;
  }
 
}
@media only screen and (max-width: 768px) {
  .izquierda_movil {
       min-width: 225px;
    align-items: center;
    justify-content: flex-end;
  }
}