nav{  
/*
Display es una propiedad que determina como se muestra un elemento o si se muesta sus posibles valores son 
-Block: El elemto se muestra como un bloque, ocupando todo el ancho disponible  y comenxando en una nueva linea.
-inline: el elemento se muestra en lineaa, ocupando asolo el espacio necesario y permitiendo que otros elementos se muestren a su lado
-inline-block: El elemento se muestra en linea pero  se comporta como un bloque, permitiendo establecer dimensiones y margenes 
-none: El elemento no se muestra en absoluto 
-flex: El elemento se muestra como un contenedor flexible, permitiendo organizar sus elementos hijos de manera flexible
-grid:  El elemento se muestra como un contenedor de cuadricula, permitiendo organizanr sus elementos hijos en filas y columnas
-hidden: El elemento se muestra pero no es visible, ocupando espacio en el dise;o pero sin mostrar su contenido

*/

/*Por defecto, cuando creas un elemento con displat flex, este se comporta como una fila*/
display: flex;
}

nav #menu_desktop{

    /*En este caso, el menu de escritorio se oculta por defecto y solo se muestra en pantallas grandes*/
    display: none;
}
nav #menu_mobile{

      /*En este caso, el menu de escritorio se oculta por defecto y solo se muestra en pantallas grandes*/

    display: flex;

    /*Justify-content es una propiedad que se utiliza en contenedores flex para alinear los elementos hijos  a lo largo del eje princiapal(horizontal por defecto)
    
    sus posibles valores son:
    -flex-start: los elementos se alinean al inicio del contenedor;
    -flex-end: los elementos se alinean al final del contenedor;
    -center: los elementos se alinean al centro del contenedor;
    -space-between: los elementos se distribuyen con espacio entre ellos, el primer elemento se alinea al inicio y el ultimo al final del contenedor;
    -space-around: los elementos se distribuyen con espacio alrededor de ellos, incluyendo el espacio al inicio y al final del contenedor;
    -space-evenly: distribuye los elementos con espacio igual entre ellos, incluyendo el espacio al inicio y al final del contenedor;
    
    
    */
    justify-content: space-between;
   width: 100%;
}
nav #menu_mobile > div{
    display: flex;
}

/*@media es una regla de css que se utiliza para aplicar estilos especificos a diferentes tama;os de pantalla o dispositivos
Permite crear dise;os reponsivos que se adaptan a diferentes condificones de visualizacion 
las medidas estandares para las pantallas son: 

extra small device(phones, 600px and down)
@media only screen an (max-width:600px){...}

Medium device (

*/