nav{
/*
Display es una propiedad que determina como se muestra un elemento o si se muesta sus posibles valores son 
-Block: El elemto se muestra como un bloque, ocupando todo el ancho disponible  y comenxando en una nueva linea.
-inline: el elemento se muestra en lineaa, ocupando asolo el espacio necesario y permitiendo que otros elementos se muestren a su lado
-inline-block: El elemento se muestra en linea pero  se comporta como un bloque, permitiendo establecer dimensiones y margenes 
-none: El elemento no se muestra en absoluto
-flex: El elemento se muestra como un contenedor flexible, permitiendo organizar sus elementos hijos de manera flexible
-grid:  El elemento se muestra como un contenedor de cuadricula, permitiendo 
-hidden: El elemento se muestra pero no es visible, ocupandp espacio es el
*/
display: flex;
}

nav #menu_desktop{
    display: none;
}
nav #menu_mobile{
    display: flex;
    justify-content: space-between;
   width: 100%;
}
nav #menu_mobile > div{
    display: flex;
}